/** Default **/

html {
    background-color: #131b1b;
    font-family: 'Open Sans', sans-serif;
}

/** {*/
/*    outline: 1px solid #e0e0e00d;*/
/*}*/

body {
    /*overflow-x: hidden;*/
    font-family: 'Open Sans', sans-serif;
}


/** Nav **/

nav {
    position: fixed;
    left: 0px;
    height: 70px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    z-index: 99999999;
    top: 0px;
}

.nav-bg {
    background-color: #131b1b;
}

nav .menu {
    display: inline;
}

nav .menu a {
    color: #677678;
    padding: 30px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: lighter;
}

nav .menu a:hover {
    color: #8cc63f;
}

nav .vault {
    float: right;
}

nav .vault a {
    color: #8cc63f;
    font-size: 24px;
    border-radius: 50px;
    padding: 12px 37px;
    border: 1px solid #05a6dd;
}

nav .vault a:hover {
    color: #05a6dd;
}

@media only screen and (max-width: 768px) {
    nav .vault a {
        font-size: 16px;
        padding: 7px 32px;
    }
}


/** Tuk Container **/
.tuk-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .tuk-container {
        width: 750px;
    }
}

@media only screen and (min-width: 992px) {
    .tuk-container {
        width: 870px;
    }
}

@media only screen and (min-width: 1200px) {
    .tuk-container {
        width: 1070px;
    }
}

@media only screen and (min-width: 1300px) {
    .tuk-container {
        width: 1070px;
    }
}

@media only screen and (min-width: 1400px) {
    .tuk-container {
        width: 1170px;
    }
}

@media only screen and (min-width: 1500px) {
    .tuk-container {
        width: 1270px;
    }
}

@media only screen and (min-width: 1600px) {
    .tuk-container {
        width: 1370px;
    }
}

@media only screen and (min-width: 1700px) {
    .tuk-container {
        width: 1470px;
    }
}


/** Timeline **/

.timeline {
    /*margin-top: -100px;*/
    position: relative;
    height: 580px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .timeline {
        margin: 100px 0;
    }

    .tuktuk {
        height: 75px !important;
    }
}


.green-container {
    position: absolute;
    left: 0px;
    overflow: hidden;
    width: 200px;
    z-index: 999;
}

.blue-container {
    position: absolute;
    left: 0px;
    overflow: hidden;
}

.green-line {
    width: 0px;
}

.tuktuk {
    height: 150px;
    position: absolute;
    left: 0px;
    z-index: 9999;
    top: calc(50% - 55px);
}

.bg-hero-title {
    float: left;
    text-align: left;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 300px;
}

.bg-hero-title .title-container, .bg-hero-title .title-support {
    text-align: left;
    margin-left: 0px;
    width: unset;
}

.text-s-container {
    position: relative;
    /*height: 100vh;*/
    margin-top: -525px;
    padding-top: 400px;
}

@media (max-width: 768px) {
    .text-s-container {
        margin-top: -600px;
    }
}

.text-hero {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    z-index: -2;
}


/** Vault **/

.vault-outer-container {

}

.vault-container {
    width: 400px;
    height: 400px;
    padding: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    border-radius: 50%;
}

#vault-inner {
    padding: 63px;
    width: 273px;
    height: 273px;
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 1;
    /*border-radius:50%;*/
    /*box-shadow: rgb(0 0 0 / 75%) 0px 10px 198px 70px;*/
}

.vault-without-logo-img, .vault-logo-img {
    width: 90%;
    margin-left: 5%;
}

@media (max-width: 768px) {
    .vault-without-logo-img, .vault-logo-img {
        width: 100%;
        margin-left: 0%;
    }
}


#vault-outer {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 200px;
    -webkit-animation: spin 20s linear;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
    z-index: 1;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.vault-text {
    width: 100%;
}


/** Hero **/
@keyframes Pulsate {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.bg-hero-title {
    float: left;
    text-align: left;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 300px;
}

@media only screen and (max-width: 768px) {
    .bg-hero-image-container {
        opacity: 0.4;
    }

    .bg-hero-title {
        margin-top: 130px !important;
    }
}

.bg-hero-title .title-container, .bg-hero-title .title-support {
    text-align: left;
    margin-left: 0px;
    width: unset;
}

.bg-hero-container {
    position: relative;
    height: 120vh;
    overflow-x: hidden;
}

.bg-hero {
    position: absolute;
    right: 0px;
    height: 120vh;
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    .bg-hero-container {
        height: unset;
        overflow-y: hidden;
    }

    .text-s-container {
        margin-top: 50px;
        padding-top: 0px;
    }

    .bg-hero {
        height: unset;
    }
}

.bg-hero-1 {
    animation: Pulsate 20s linear infinite;
}

.bg-hero-2 {
    animation: Pulsate 20s linear infinite;
    animation-delay: 5000ms;
}

.bg-hero-3 {
    animation: Pulsate 20s linear infinite;
    animation-delay: 2500ms;
}

.btn {
    position: relative;
    display: inline-block;
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0.045em;
    border: 2px solid #b49908;
    border-radius: 25px;
    color: #8cc63f;
}

.btn:hover {
    border: 2px solid #8cc63f;
    color: #b49908;
}


/** OTHER **/

.gradient-title {
    font-size: 48px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #00aeef, #8cc73b 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
    .gradient-title {
        font-size: 32px !important;
    }

    .gradient-title br {
        display: none;
    }

    .title-support span br {
        display: none;
    }
}

.icon-container .title-container {
    margin-top: -500px;
}

@media only screen and (max-width: 1750px) {
    .icon-container .title-container {
        margin-top: -400px;
    }
}

@media only screen and (max-width: 1250px) {
    .icon-container .title-container {
        margin-top: -300px;
    }
}

@media only screen and (max-width: 950px) {
    .icon-container .title-container {
        margin-top: -200px;
    }
}

@media only screen and (max-width: 768px) {
    .icon-container .title-container {
        margin-top: -100px;
    }

    .icon-container .title-support {
        margin: 20px 0;
    }
}

.title-container {
    margin-top: 150px;
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 200px;*/
}

@media only screen and (max-width: 768px) {
    .title-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.title-support {
    text-align: center;
    font-weight: 100;
    line-height: 36px;
    font-size: 21px;
    max-width: 700px;
    margin: 0px auto;
}

@media only screen and (max-width: 768px) {
    .title-support {
        line-height: 30px;
        font-size: 18px;
    }
}

.title-support span {
    color: #8cc73b;
}

p {
    color: #fff;
}


/** Flexbox **/

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexbox > div {
    box-sizing: border-box;
    margin: 10px 10px 0 0;
    width: calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);
}

.flexbox > div:nth-child(3n) {
    margin-right: 0;
}

.flexbox::after {
    content: '';
    flex: auto;
}

.flexbox > div:nth-child(-n+3) {
    margin-top: 0;
}

.flexbox-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexbox-2 > div {
    box-sizing: border-box;
    margin: 10px 10px 0 0;
    width: calc(1 / 2 * 100% - (1 - 1 / 2) * 10px);
}

.flexbox-2 > div:nth-child(2n) {
    margin-right: 0;
}

.flexbox-2::after {
    content: '';
    flex: auto;
}

.flexbox-2 > div:nth-child(-n+2) {
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .flexbox > div {
        width: 100%;
        margin-bottom: 30px;
    }

    .flexbox-2 > div {
        width: 100%;
        margin-bottom: 30px;
    }
}


/** OTHER **/

.box-container {
    margin-top: 300px;
    margin-bottom: 250px;
}

.icon-container {
    margin-top: 0px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
    .box-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.card .icon {
    max-width: 110px;
    margin: 0 auto;
    height: 120px;
}

.card .title {
    color: #fff;
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.card .content p {
    color: #d7d7d7;
    text-align: center;
    font-size: 18px;
    margin: 0px 55px;
    font-weight: 100;
    line-height: 24px;
}

@media only screen and (max-width: 768px) {
    .card .content p {
        margin: 0px 15px;
    }
}

.line {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: rotate(327deg);
    transform-origin: -200px 0;
    /*display: none;*/
    fill: #00aeef;
    stroke: #00aeef;
    z-index: -1;
    animation: blinker 5s linear infinite;
}

.center-vault {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 2px;
    width: 2px;
    /*background-color: red;*/
    overflow: visible;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}

@-moz-keyframes blinker {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes blinker {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}


/** Scroll Magic **/

#pinContainer {
    width: 100%;
    height: 500px !important;
    overflow: hidden;
}

.panel {
    height: 500px;
    width: 100%;
    position: absolute;
    padding: 20px;
    background-color: transparent !important;
    color: #fff;
}

.blue {
    background-color: #131b1b;
}

.turqoise {
    background-color: #38ced7;
}

.green {
    background-color: green;
}

.bordeaux {
    background-color: red;
}

.blacklight-container {
    position: relative;
    height: 200px;
    margin-top: 50px;
}

.blacklight-container-lg {
    position: relative;
    height: 200px;
    margin-top: 150px;
}

.blacklight {
    position: absolute;
    left: -100px;
    width: calc(100% + 100px);
    height: 100px;
    line-height: 30vw;
    text-align: center;
    color: #252B37;
    animation: textColor 10s ease infinite;
    ovewrflow: hidden;
}

.blacklight:after {
    position: absolute;
    content: "";
    top: 5vw;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 101%;
    margin: 0 auto;
    transform: scale(1);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #00aeef, #8cc73b);
    background-size: 200% 200%;
    opacity: 0.3;
    animation: animateGlow 7s ease infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes textColor {
    0% {
        color: #00aeef;
    }
    50% {
        color: #8cc73b;
    }
    100% {
        color: #00aeef;
    }
}

.network {
    margin-bottom: 200px;
}

.network h3 {
    color: #8cc63f
}

.network ul {
    list-style-type: none;
    padding-left: 0px;
}

.network ul li {
    color: #999999;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: lighter;
}

.network ul span {
    color: #ffd400
}

.network-title {
    font-size: 48px;
    font-weight: 800;
    color: #8cc63f
}


@media only screen and (max-width: 768px) {
    .network-title, .earn-title {
        font-size: 30px !important;
        margin-top: 0px !important;
    }

    .network-title br, .earn-title br {
        display: none;
    }

    .earn h2 {
        text-align: center;
        margin-top: 0px !important;
        font-size: 30px !important;
    }

    .earn .t-logo {
        width: 30px !important;
        margin-left: calc(50% - 15px) !important;
    }


}

@media only screen and (max-width: 368px) {
    .network-title, .earn-title {
        font-size: 22px !important;
    }

    .earn h2 {
        font-size: 22px !important;
    }

    .earn .t-logo {
        width: 20px !important;
        margin-left: calc(50% - 10px) !important;
        margin-bottom: 10px;
    }

    .image_icon {
        width: 90%;
        margin-left: 5%; 
    }
}

.network-bg {
    position: absolute;
    width: 25%;
    right: 0px;
    top: 50%;
    transform: translate(0%, -50%);
}

.earn-bg {
    position: absolute;
    width: 25%;
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%);
}

.relative {
    position: relative;
}

.earn {
    margin-bottom: 200px;
}

@media only screen and (max-width: 768px) {
    .earn {
        flex-direction: column-reverse;
    }

    .earn, .network {
        margin-bottom: 100px;
    }
}

.earn h2 {
    color: #00aeef;
    font-size: 48px;
    font-weight: bold;
}

.earn ul {
    list-style-type: none;
    padding-left: 0px;
}

.earn ul li {
    color: #999999;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: lighter;
}

.earn-title {
    font-size: 48px;
    font-weight: 800;
    color: #00aeef
}

.earn .t-logo {
    width: 30px;
    margin-left: 50px;
}

.earn ul h3 {
    color: #00aeef;
}


.image_icon {
    width: 70%;
    margin-left: 10%;
}

@media only screen and (max-width: 768px) {
    .image_icon {
        width: 70%;
        margin-left: 15%;
    }
}


/** FOOTER **/

.footer {
    max-width: 60%;
}

.footer h3 {
    color: #ffd400;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 22px;
}

.footer ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer ul li {
    margin-bottom: 15px;
}

.footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    color: #475051;
    font-size: 20px;
}

.footer ul li a:hover {
    color: #455152;
    text-decoration: underline;
}

footer {
    position: relative;
}

footer p {
    text-align: center;
    font-weight: lighter;
    color: #475051;
    font-size: 18px;
    margin: 50px 0px;
}

footer img {
    position: absolute;
    right: 0px;
    bottom: -40px;
    width: 50%;
}

.footer-token {
    width: 350px;
    margin: 0px auto;
    margin-bottom: 150px;
}

.footer-token img {
    width: 350px;
}

@media only screen and (max-width: 768px) {
    .footer-token {
        width: 150px;
        margin: 100px auto;
    }

    .footer-token img {
        width: 150px;
    }

    .footer h3 {
        font-size: 18px;
    }

    .footer ul li a {
        font-size: 16px;
    }
}


/** Responsive **/

@media only screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}